/target
/logs
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.dir-locals.el
/profiles.clj
/dev/resources/local.edn
/dev/src/local.clj
/resources/app/public/js
.cpcache
.shadow-cljs
*.iml
/node_modules
package-lock.json
/.clj-kondo/.cache
